.main {
    &-block {
        position: relative;
        &__body {
            padding: 184px 0 191px 0;
            position: relative;
            z-index: 4;
            max-width: 400px;
            &:not(:last-child) {
                margin: 0 0 35px 0;
            }
        }
        &__title {
            font-size: 58px;
            font-weight: 800;
            line-height: calc(80 / 58 * 100%);
            letter-spacing: 0.2px;
        }
        &__text {
            font-size: 20px;
            line-height: calc(30 / 20 * 100%);
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
        }
        &__button {
            border-radius: 37px;
            display: flex;
            min-height: 48px;
            justify-content: center;
            align-items: center;
            padding: 5px 36px;
            margin: 0 5px 0 0;
        
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.2px;
            text-align: center;
            &_orange {
                background: #fff;
                color: #FF7B47;
                border: 1px solid #FF7B47;
                &:hover {
                    background: #FF7B47;
                    color: #FFFFFF;
                }
            }
            &_border {
                background: inherit;
                border: 1px solid #0D5C63;
                color: #0D5C63;
                &:hover {
                    background: #0D5C63;
                    color: #fff;
                }
            }
        }
        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

}

